{%extends "base.html" %}
{% block content %}



        <div class="card w-50">
                        <div class="card-header">
                        <h4><a href="{{url_for('single_post',post_id=post.id)}}"> {{post.blog_title}}</a> </h4>  
                        </div>
                        <div class="card-body">
                          
                          <p class="card-text">{{post.blog_post}} </p>
                
                        </div>
                        <div class="card-footer text-muted">
                        <small class="h6 text-info">published by:<a href="{{url_for('single_user',username=post.owner.username)}}"> {{post.owner.username}}</a></small>
                        </div>
                </div>
        
        





{%endblock%}